<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Contactenos1</servlet-name>
		<servlet-class>Redirigir.Contactenos1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contactenos1</servlet-name>
		<url-pattern>/contactenos1</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>Contactenos2</servlet-name>
		<servlet-class>Redirigir.Contactenos2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contactenos2</servlet-name>
		<url-pattern>/contactenos2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ControladorVistaTienda</servlet-name>
		<servlet-class>Redirigir.ControladorVistaTienda</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorVistaTienda</servlet-name>
		<url-pattern>/controladorVistaTienda</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Exito</servlet-name>
		<servlet-class>Redirigir.Exito</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Exito</servlet-name>
		<url-pattern>/exito</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EncuestaHS</servlet-name>
		<servlet-class>Redirigir.EncuestaHS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EncuestaHS</servlet-name>
		<url-pattern>/encuestaHS</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExitoAdministrador</servlet-name>
		<servlet-class>Redirigir.ExitoAdministrador</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExitoAdministrador</servlet-name>
		<url-pattern>/exitoAdministrador</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExitoCurso</servlet-name>
		<servlet-class>Redirigir.ExitoCurso</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExitoCurso</servlet-name>
		<url-pattern>/exitoCurso</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExitoEncuesta</servlet-name>
		<servlet-class>Redirigir.ExitoEncuesta</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExitoEncuesta</servlet-name>
		<url-pattern>/exitoEncuesta</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExitoReclamo</servlet-name>
		<servlet-class>Redirigir.ExitoReclamo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExitoReclamo</servlet-name>
		<url-pattern>/exitoReclamo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExitoRegCurso</servlet-name>
		<servlet-class>Redirigir.ExitoRegCurso</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExitoRegCurso</servlet-name>
		<url-pattern>/exitoRegCurso</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExitoSugerencia</servlet-name>
		<servlet-class>Redirigir.ExitoSugerencia</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExitoSugerencia</servlet-name>
		<url-pattern>/exitoSugerencia</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetInstructionsFormAthomDatosPersonales</servlet-name>
		<servlet-class>Redirigir.GetInstructionsFormAthomDatosPersonales</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetInstructionsFormAthomDatosPersonales</servlet-name>
		<url-pattern>/getInstructionsFormAthomDatosPersonales</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Hackerscholar</servlet-name>
		<servlet-class>Redirigir.Hackerscholar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hackerscholar</servlet-name>
		<url-pattern>/hackerscholar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexAdmin</servlet-name>
		<servlet-class>Redirigir.IndexAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexAdmin</servlet-name>
		<url-pattern>/indexAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexAgregarAdmin</servlet-name>
		<servlet-class>Redirigir.IndexAgregarAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexAgregarAdmin</servlet-name>
		<url-pattern>/indexAgregarAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexAgregarCursos</servlet-name>
		<servlet-class>Redirigir.IndexAgregarCursos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexAgregarCursos</servlet-name>
		<url-pattern>/indexAgregarCursos</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>IndexCerrarSesion</servlet-name>
		<servlet-class>Redirigir.IndexCerrarSesion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexCerrarSesion</servlet-name>
		<url-pattern>/indexCerrarSesion</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>IndexHackerspace</servlet-name>
		<servlet-class>Redirigir.IndexHackerspace</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexHackerspace</servlet-name>
		<url-pattern>/indexHackerspace</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexLogin</servlet-name>
		<servlet-class>Redirigir.IndexLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexLogin</servlet-name>
		<url-pattern>/indexLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexLoginAdmin</servlet-name>
		<servlet-class>Redirigir.IndexLoginAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexLoginAdmin</servlet-name>
		<url-pattern>/indexLoginAdmin</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>IndexLoginUser</servlet-name>
		<servlet-class>Redirigir.IndexLoginUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexLoginUser</servlet-name>
		<url-pattern>/indexLoginUser</url-pattern>
	</servlet-mapping>		
	<servlet>
		<servlet-name>IndexUser</servlet-name>
		<servlet-class>Redirigir.IndexUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexUser</servlet-name>
		<url-pattern>/indexUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Reclamos</servlet-name>
		<servlet-class>Redirigir.Reclamos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reclamos</servlet-name>
		<url-pattern>/reclamos</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Registrar</servlet-name>
		<servlet-class>Redirigir.Registrar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registrar</servlet-name>
		<url-pattern>/registrar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegistrarCursos</servlet-name>
		<servlet-class>Redirigir.RegistrarCursos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrarCursos</servlet-name>
		<url-pattern>/registrarCursos</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegistroDatosAtohm</servlet-name>
		<servlet-class>Redirigir.RegistroDatosAtohm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistroDatosAtohm</servlet-name>
		<url-pattern>/registroDatosAtohm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Sugerencias</servlet-name>
		<servlet-class>Redirigir.Sugerencias</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sugerencias</servlet-name>
		<url-pattern>/sugerencias</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VerCursosHackerscholar</servlet-name>
		<servlet-class>Redirigir.VerCursosHackerscholar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerCursosHackerscholar</servlet-name>
		<url-pattern>/verCursosHackerscholar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexAtohmAdmin</servlet-name>
		<servlet-class>Redirigir.IndexAtohmAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexAtohmAdmin</servlet-name>
		<url-pattern>/indexAtohmAdmin</url-pattern>
	</servlet-mapping>
	
	
	


	<servlet>
		<servlet-name>IndexAtohm</servlet-name>
		<servlet-class>Redirigir.IndexAtohm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexAtohm</servlet-name>
		<url-pattern>/indexAtohm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexProducto</servlet-name>
		<servlet-class>Redirigir.IndexProducto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexProducto</servlet-name>
		<url-pattern>/indexProducto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexLoguearCliente</servlet-name>
		<servlet-class>Redirigir.IndexLoguearCliente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexLoguearCliente</servlet-name>
		<url-pattern>/indexLoguearCliente</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>IndexRegistrarCliente</servlet-name>
		<servlet-class>Redirigir.IndexRegistrarCliente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexRegistrarCliente</servlet-name>
		<url-pattern>/indexRegistrarCliente</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexAdminProductos</servlet-name>
		<servlet-class>Redirigir.IndexAdminProductos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexAdminProductos</servlet-name>
		<url-pattern>/indexAdminProductos</url-pattern>
	</servlet-mapping>		
	<servlet>
		<servlet-name>AdminAgregarProductos</servlet-name>
		<servlet-class>Redirigir.AdminAgregarProductos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAgregarProductos</servlet-name>
		<url-pattern>/adminAgregarProductos</url-pattern>
	</servlet-mapping>	
	
	
	
	<servlet>
		<servlet-name>SaveProducto</servlet-name>
		<servlet-class>servlets.SaveProducto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveProducto</servlet-name>
		<url-pattern>/saveProducto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminListaProducto</servlet-name>
		<servlet-class>servlets.AdminListaProducto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminListaProducto</servlet-name>
		<url-pattern>/adminListaProducto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminEliminarProducto</servlet-name>
		<servlet-class>servlets.AdminEliminarProducto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEliminarProducto</servlet-name>
		<url-pattern>/adminEliminarProducto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexAtohmstore</servlet-name>
		<servlet-class>servlets.IndexAtohmstore</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexAtohmstore</servlet-name>
		<url-pattern>/indexAtohmstore</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaveCliente</servlet-name>
		<servlet-class>servlets.SaveCliente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveCliente</servlet-name>
		<url-pattern>/saveCliente</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginCliente</servlet-name>
		<servlet-class>servlets.LoginCliente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginCliente</servlet-name>
		<url-pattern>/loginCliente</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClienteCerrarSesion</servlet-name>
		<servlet-class>servlets.ClienteCerrarSesion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClienteCerrarSesion</servlet-name>
		<url-pattern>/clienteCerrarSesion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClienteProducto</servlet-name>
		<servlet-class>Redirigir.ClienteProducto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClienteProducto</servlet-name>
		<url-pattern>/clienteProducto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClientePedido</servlet-name>
		<servlet-class>Redirigir.ClientePedido</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientePedido</servlet-name>
		<url-pattern>/clientePedido</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SavePedidoCliente</servlet-name>
		<servlet-class>servlets.SavePedidoCliente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SavePedidoCliente</servlet-name>
		<url-pattern>/savePedidoCliente</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClientePedidoExito</servlet-name>
		<servlet-class>Redirigir.ClientePedidoExito</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientePedidoExito</servlet-name>
		<url-pattern>/clientePedidoExito</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClientePedidoFallo</servlet-name>
		<servlet-class>Redirigir.ClientePedidoFallo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientePedidoFallo</servlet-name>
		<url-pattern>/clientePedidoFallo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClienteListaPedido</servlet-name>
		<servlet-class>servlets.ClienteListaPedido</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClienteListaPedido</servlet-name>
		<url-pattern>/clienteListaPedido</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClienteEliminarPedido</servlet-name>
		<servlet-class>servlets.ClienteEliminarPedido</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClienteEliminarPedido</servlet-name>
		<url-pattern>/clienteEliminarPedido</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexAdminReporteProducto</servlet-name>
		<servlet-class>servlets.IndexAdminReporteProducto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexAdminReporteProducto</servlet-name>
		<url-pattern>/indexAdminReporteProducto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminModificarProducto</servlet-name>
		<servlet-class>servlets.AdminModificarProducto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminModificarProducto</servlet-name>
		<url-pattern>/adminModificarProducto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModificarProducto</servlet-name>
		<servlet-class>servlets.ModificarProducto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModificarProducto</servlet-name>
		<url-pattern>/modificarProducto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegistroModificarProducto</servlet-name>
		<servlet-class>servlets.RegistroModificarProducto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistroModificarProducto</servlet-name>
		<url-pattern>/registroModificarProducto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexAdminReporteCliente</servlet-name>
		<servlet-class>servlets.IndexAdminReporteCliente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexAdminReporteCliente</servlet-name>
		<url-pattern>/indexAdminReporteCliente</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClienteNoRegistrado</servlet-name>
		<servlet-class>Redirigir.ClienteNoRegistrado</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClienteNoRegistrado</servlet-name>
		<url-pattern>/clienteNoRegistrado</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminEliminarUnProducto</servlet-name>
		<servlet-class>Redirigir.AdminEliminarUnProducto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEliminarUnProducto</servlet-name>
		<url-pattern>/adminEliminarUnProducto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EliminarUnProducto</servlet-name>
		<servlet-class>servlets.EliminarUnProducto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EliminarUnProducto</servlet-name>
		<url-pattern>/eliminarUnProducto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClientePerfil</servlet-name>
		<servlet-class>servlets.ClientePerfil</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientePerfil</servlet-name>
		<url-pattern>/clientePerfil</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexCliente</servlet-name>
		<servlet-class>Redirigir.IndexCliente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexCliente</servlet-name>
		<url-pattern>/indexCliente</url-pattern>
	</servlet-mapping>

	
	
	
	
	
	
	
	
	
		
	
	
	
	
	
	
	
	
	
	<servlet>
		<servlet-name>EliminarAdmin</servlet-name>
		<servlet-class>servlets.EliminarAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EliminarAdmin</servlet-name>
		<url-pattern>/eliminarAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EliminarCurso</servlet-name>
		<servlet-class>servlets.EliminarCurso</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EliminarCurso</servlet-name>
		<url-pattern>/eliminarCurso</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EliminarUser</servlet-name>
		<servlet-class>servlets.EliminarUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EliminarUser</servlet-name>
		<url-pattern>/eliminarUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetList</servlet-name>
		<servlet-class>servlets.GetList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetList</servlet-name>
		<url-pattern>/getList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginAdmin</servlet-name>
		<servlet-class>servlets.LoginAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginAdmin</servlet-name>
		<url-pattern>/loginAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginUser</servlet-name>
		<servlet-class>servlets.LoginUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginUser</servlet-name>
		<url-pattern>/loginUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaveAdministrador</servlet-name>
		<servlet-class>servlets.SaveAdministrador</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveAdministrador</servlet-name>
		<url-pattern>/saveAdministrador</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaveCursos</servlet-name>
		<servlet-class>servlets.SaveCursos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveCursos</servlet-name>
		<url-pattern>/saveCursos</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaveRegCurso</servlet-name>
		<servlet-class>servlets.SaveRegCurso</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveRegCurso</servlet-name>
		<url-pattern>/saveRegCurso</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Saveuser</servlet-name>
		<servlet-class>servlets.Saveuser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Saveuser</servlet-name>
		<url-pattern>/saveuser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaveEncuesta</servlet-name>
		<servlet-class>servlets.SaveEncuesta</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveEncuesta</servlet-name>
		<url-pattern>/saveEncuesta</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaveReclamo</servlet-name>
		<servlet-class>servlets.SaveReclamo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveReclamo</servlet-name>
		<url-pattern>/saveReclamo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaveSugerencia</servlet-name>
		<servlet-class>servlets.SaveSugerencia</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveSugerencia</servlet-name>
		<url-pattern>/saveSugerencia</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VerAdmin</servlet-name>
		<servlet-class>servlets.VerAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerAdmin</servlet-name>
		<url-pattern>/verAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VerCursos</servlet-name>
		<servlet-class>servlets.VerCursos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerCursos</servlet-name>
		<url-pattern>/verCursos</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>VerUsuarios</servlet-name>
		<servlet-class>servlets.VerUsuarios</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerUsuarios</servlet-name>
		<url-pattern>/verUsuarios</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VerCursosHS</servlet-name>
		<servlet-class>servlets.VerCursosHS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerCursosHS</servlet-name>
		<url-pattern>/verCursosHS</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VerCursosInscritos</servlet-name>
		<servlet-class>servlets.VerCursosInscritos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerCursosInscritos</servlet-name>
		<url-pattern>/verCursosInscritos</url-pattern>
	</servlet-mapping>

	
	
	
		
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
