.banner{
	width: 700px;
	height: 300px;
	border: 3px solid red;
	margin: auto;
	
	background-size: 100% 100%;
	animation: banner 10s infinite; 
	background-image: url(Imagenes/chasisParaRobot.jpg);
}
@keyframes banner{
	0%, 2% {
		opacity: 0.1;
	}
	3%, 30% {
		background-image: url(Imagenes/chasisParaRobot.jpg);
		opacity: 1;
	}
	31%, 34% {
		opacity: 0.1;
	}
	35%, 63% {
		background-image: url(Imagenes/chasisParaRobot.jpg);
		opacity: 1;
	}
	64%, 67% {
		opacity: 0.1;
	}
	68%, 97% {
		background-image: url(Imagenes/chasisParaRobot.jpg);
		opacity: 1;
	}
	98%, 100% {
		opacity: 0.1;
	}
}
#opciones2 > li{
	display:inline-block;
}

#opciones2 >li >div{
	display:block;
	padding:10px 5px;
	width:400px;
	margin:0 auto;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	font-size:20px;
	text-align:center;
}

#opciones2 li:hover{
	background:#A3CD39;
	text-shadow:0 0 2px #000;
}
.imagen{
	width:270px;
	height:340px;
	float:left;
	padding-top: 30px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px;
}
#btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}